<div class="row">
  <div class="column column-25">
    <%= image_tag @user.photo.url, class:"user-photo"%>
    </div>
  <div class="column">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>
</div>






