<%= link_to 'Add a Place', new_place_path, class:"button" %>


<% @places.in_groups_of(2, false).each do |places|%>
  <div class="row place-row">
    <% places.each do |place| %>
      <div class="conatiner column column-40 place-container">
        <div class="row">
          <%= link_to image_tag(place.photo, class:"place-photo"), place_path(place.id),class:"column column-50" %>
          <div class="row info column column-50">
            <p class="loc-info"><strong>Address:</strong></p>
            <p><%=place.location %></p>
            <p class="column column-50 strong">
              <p class="loc-info"><strong>Equipment:</strong></p>
              <p><%=place.equipment %></p>
            </p>
            </div>
        </div>
      </div>
    <% end%>
  </div>
<% end%>